<div class="row mt-4">
    <div class="offset-sm-2 col-md-8">
        <div class="card card-inverse card-primary text-center">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <img [mediaProfileThumbnail]="user" class="img-avatar avatar-big" alt="{{user.username}}" />
                    <h1>{{user.username}}</h1>
                    <h3>{{user.caption}}</h3>
                </blockquote>
                <div class="row">
                    <div class="col-sm-4 text-left">
                        <div *ngIf="user.username != currentUser.username">
                            <button *ngIf="relation.key == null" class="btn btn-success btn-sm" type="button" (click)="invite(user)">
                                <i class="icon-user-follow"></i>
                                Add friend
                            </button>
                            <button *ngIf="relation.key != null && relation.accepted == false" class="btn btn-success btn-sm" type="button" disabled>
                                <i class="icon-clock"></i>
                                Waiting for confirmation
                            </button>
                            <button *ngIf="relation.key != null && relation.accepted == true" class="btn btn-success btn-sm" type="button" (click)="deleteRelation(user)">
                                <i class="icon-user-unfollow"></i>
                                Remove from friends
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-8 text-right">
                        <button *ngIf="user.username == currentUser.username" class="btn btn-secondary btn-sm" type="button" [routerLink]="['/', user.username]">
                            <i class="icon-user"></i>
                            Profile
                        </button>
                        <button *ngIf="user.username == currentUser.username" class="btn btn-secondary btn-sm" type="button" [routerLink]="['/', user.username, 'settings']">
                            <i class="fa fa-wrench"></i>
                            Settings
                        </button>
                        <button class="btn btn-secondary btn-sm" type="button" [routerLink]="['/', user.username, 'friends']">
                            <i class="icon-people"></i>
                            Friends
                        </button>
                        <button *ngIf="user.username == currentUser.username && invitationsCount > 0" class="btn btn-secondary btn-sm" type="button" data-toggle="modal" (click)="invitationsModal.show(); loadInvitations();">
                            <i class="icon-people"></i>
                            Invitations
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #invitationsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="invitationsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Invitations</h4>
                <button type="button" class="close" (click)="invitationsModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngFor="let invitation of invitations">
                    <div class="avatar"  style="float: left">
                        <img [mediaProfileThumbnail]="invitation" class="img-avatar" />
                    </div>
                    <div>
                        <h6 class="mt-2" style="display: inline; margin-left: 5px">{{invitation.username}}</h6>
                        <button class="btn btn-outline-danger btn-sm" type="button" style="float: right" (click)="reject(invitation)">
                            <i class="icon-user-unfollow"></i> Reject
                        </button>
                        <button class="btn btn-outline-success btn-sm" type="button" style="float: right" (click)="accept(invitation)">
                            <i class="icon-user-following"></i> Accept
                        </button>
                    </div>
                </div>
                <h4 *ngIf="invitations.length == 0" class="text-center">No invitations</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="invitationsModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>
