<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">&#9776;</button>
    <a class="navbar-brand" [routerLink]="['/']">socialnetwork</a>
    <ul class="nav navbar-nav mr-auto d-md-down-none">

    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <img [mediaProfileThumbnail]="currentUser" class="img-avatar" />
                <span class="d-md-down-none">{{currentUser.username}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <a class="dropdown-item" href="#" [routerLink]="['/', currentUser.username]"><i class="icon-user"></i> Profile</a>
                <a class="dropdown-item" href="#" [routerLink]="['/', currentUser.username, 'friends']"><i class="icon-people"></i> Friends</a>
                <a class="dropdown-item" href="#" [routerLink]="['/profile/settings']"><i class="fa fa-wrench"></i> Settings</a>
                <a class="dropdown-item" href="/auth/logout"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
        <li class="nav-item d-md-down-none"></li>
    </ul>
</header>

<div class="app-body">
    <!-- Main content -->
    <main class="main">

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="https://github.com/ignaszak/java-socialnetwork">
        <i class="fa fa-github"></i>
        GitHub
    </a>
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>
