<div class="container">
    <user-header *ngIf="user.id > 0" (removedFriend)="removeFromFriendsList($event)" [user]="user"></user-header>

    <div class="row">
        <div class="offset-sm-2 col-md-8">
            <div class="row">
                <div *ngFor="let friend of friends" class="col-md-4 col-sm-6">
                    <a href="#" [routerLink]="['/', friend.username]">
                        <div class="card card-accent-info">
                            <div class="card-block text-center">
                                <div class="avatar-lg">
                                    <img [mediaProfileThumbnail]="friend" class="img-avatar" />
                                </div>
                                <h5 class="mt-3">{{friend.username}}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
