<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Error - Social Network</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" />
    <link href="../static/public/css/styles.css" th:href="@{/public/css/styles.css}" rel="stylesheet" />

</head>
<body class="app">

<div class="app flex-row align-items-center" th:fragment="form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8" style="margin: auto; float: initial;">

                <h1 class="text-center mb-5">Social Network</h1>

                <div class="card-group mb-4">
                    <div class="card p-4">
                        <div class="card-block">
                            <h2 class="text-center" th:text="${error}">Unknown error!</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>