<!doctype html>
<html>

<head>
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Socialnetwork"/>
    <meta name="author" content="Tomasz Ignaszak"/>
    <meta name="keyword" content=""/>
    <link rel="shortcut icon" href=""/>

    <title>Socialnetwork</title>
</head>
<body class="app sidebar-hidden header-fixed">
<script>window.__theme = 'bs4';</script>
<!-- App Loading... -->
<script type="text/javascript" src="/public/angular/inline.bundle.js"></script><script type="text/javascript" src="/public/angular/polyfills.bundle.js"></script><script type="text/javascript" src="/public/angular/scripts.bundle.js"></script><script type="text/javascript" src="/public/angular/styles.bundle.js"></script><script type="text/javascript" src="/public/angular/vendor.bundle.js"></script><script type="text/javascript" src="/public/angular/main.bundle.js"></script></body>
</html>
