<!doctype html>
<html>

<head>
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Socialnetwork"/>
    <meta name="author" content="Tomasz Ignaszak"/>
    <meta name="keyword" content=""/>
    <link rel="shortcut icon" href=""/>

    <title>Socialnetwork</title>
<link href="/public/angular/styles.c4fce009cc7ccdf5e954.bundle.css" rel="stylesheet"/></head>
<body class="app sidebar-hidden header-fixed">
<script>window.__theme = 'bs4';</script>
<!-- App Loading... -->
<script type="text/javascript" src="/public/angular/inline.ce111aa13829800a8111.bundle.js"></script><script type="text/javascript" src="/public/angular/polyfills.19df32b27aac6603ab29.bundle.js"></script><script type="text/javascript" src="/public/angular/scripts.32656c8de99178b83daa.bundle.js"></script><script type="text/javascript" src="/public/angular/vendor.52b39e8d7dc1f23ba0d2.bundle.js"></script><script type="text/javascript" src="/public/angular/main.e6bda09380f81aabf4bf.bundle.js"></script></body>
</html>
