<!doctype html>
<html>

<head>
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Socialnetwork"/>
    <meta name="author" content="Tomasz Ignaszak"/>
    <meta name="keyword" content=""/>
    <link rel="shortcut icon" href=""/>

    <title>Socialnetwork</title>
<link href="/public/angular/styles.c4fce009cc7ccdf5e954.bundle.css" rel="stylesheet"/></head>
<body class="app sidebar-hidden header-fixed">
<script>window.__theme = 'bs4';</script>
<!-- App Loading... -->
<script type="text/javascript" src="/public/angular/inline.11ddf9fcd3e4d362a8d3.bundle.js"></script><script type="text/javascript" src="/public/angular/polyfills.473a2ba8fb14ec41b6d6.bundle.js"></script><script type="text/javascript" src="/public/angular/scripts.5b90ec1e99cc3aeeaa9b.bundle.js"></script><script type="text/javascript" src="/public/angular/vendor.6c6b33c60dd98e60d8d4.bundle.js"></script><script type="text/javascript" src="/public/angular/main.d58279835f04d1b2d9c2.bundle.js"></script></body>
</html>
