<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Registration - Social Network</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" />
    <link href="/public/css/styles.css" th:href="@{/public/css/styles.css}" rel="stylesheet" />

</head>
<body class="app">

<div class="app flex-row align-items-center" th:fragment="form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6" style="margin: auto; float: initial;">
                <div class="card mx-4">
                    <div class="card-block p-4">

                        <form action="#" th:action="@{/registration}" th:object="${registration}" method="post">
                            <h1>Register</h1>
                            <p class="text-muted">Create your account</p>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input class="form-control" placeholder="Username" type="text"  th:field="*{username}" />
                            </div>
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:required="required">Username error</p>
                            <div class="input-group mb-3">
                                <span class="input-group-addon">@</span>
                                <input class="form-control" placeholder="Email" type="text" th:field="*{email}" />
                            </div>
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:required="required">Email error</p>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input class="form-control" placeholder="Password" type="password"  th:field="*{password}" />
                            </div>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:required="required">Password error</p>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input class="form-control" placeholder="Repeat password" type="password"  th:field="*{passwordRepeat}" />
                            </div>
                            <p th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}" th:required="required">RePassword error</p>
                            <button class="btn btn-block btn-success" type="submit">Create Account</button>
                        </form>
                    </div>
                    <div class="card-footer p-4 text-center">
                        <a href="/login" th:href="@{/login}">Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>