<div class="mt-4">

    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <div class="card card-accent-primary">
                <div class="card-block">
                    <form [formGroup]="postForm" (ngSubmit)="onSubmitPost()" novalidate>
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="avatar">
                                    <img [mediaProfileThumbnail]="currentUser" class="img-avatar" />
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <textarea class="form-control" id="text" formControlName="text" name="text" placeholder="Write something.." rows="3"></textarea>
                                </div>
                                <div class="form-group" *ngIf="showUploader">
                                    <image-upload
                                        [max]="20"
                                        url="{{postMediaUrl}}"
                                        [class]="'uploader'"
                                        [extensions]="['jpeg', 'png', 'gif']"
                                        [buttonCaption]="'Select images!'"
                                        [dropBoxMessage]="'Drop your images here!'"
                                        (uploadFinished)="updateUploaderCounter(1)"
                                        (removed)="updateUploaderCounter(-1)"
                                    ></image-upload>
                                </div>
                                <div class="form-group form-actions">
                                    <a href="javascript:" class="btn btn-sm btn-primary" (click)="toggleUploader()">
                                        <i class="icon-picture"></i>
                                    </a>
                                    <button class="btn btn-sm btn-success" type="submit">
                                        &nbsp;&nbsp;Post&nbsp;&nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let post of posts" class="row">
        <div class="offset-sm-2 col-sm-8">
            <div class="card card-accent-secondary">
                <div class="card-block">

                    <div class="row">
                        <div class="col-sm-1">
                            <div class="avatar">
                                <img [mediaProfileThumbnail]="post.author" class="img-avatar" />
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <a href="#" *ngIf="post.author.username" [routerLink]="['/', post.author.username]">
                                {{post.author.username}}
                            </a>
                            <span *ngIf="! user && post.receiver && post.author && post.receiver?.username != post.author?.username">
                                <i class="fa fa-caret-right"></i>
                                <a href="#" *ngIf="post.receiver.username" [routerLink]="['/', post.receiver.username]">
                                    <img [mediaProfileThumbnail]="post.receiver" class="avatar-receiver" />
                                    {{post.receiver.username}}
                                </a>
                            </span>
                            <br />
                            <i class="icon-calendar"></i>
                            {{post.createdDate|date: 'dd-MM-yyyy HH:mm'}}
                        </div>
                        <div class="col-sm-1 text-right" *ngIf="post.author?.username == currentUser.username">
                            <a href="javascript:" (click)="deletePost(post)">
                                <i class="icon-close"></i>
                            </a>
                        </div>
                    </div>

                    <p>{{post.text}}</p>

                    <div *ngIf="post.medias !== null && post.medias.length > 0">
                        <ngx-gallery
                            [options]="mediaService.getNgxGalleryOptions(post.medias)"
                            [images]="mediaService.getNgxGalleryImages(post.medias)"
                        ></ngx-gallery>
                    </div>

                    <hr />

                    <p *ngIf="post.commentsNextPage">
                        <a href="javascript:" (click)="loadMoreComments(post, post.commentsNextPage)">Load further comments...</a>
                    </p>

                    <div *ngFor="let comment of post.comments" class="row">
                        <div class="col-sm-1">
                            <div class="avatar">
                                <img [mediaProfileThumbnail]="comment.author" class="img-avatar" />
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="#" [routerLink]="['/', comment.author.username]">{{comment.author.username}}</a>
                                    <small>
                                        <i class="icon-calendar"></i>
                                        {{comment.createdDate|date: 'dd-MM-yyyy HH:mm'}}
                                    </small>
                                </div>
                                <div class="col-sm-6 text-right" *ngIf="comment.author.username == currentUser.username || post.author.username == currentUser.username">
                                    <a href="javascript:" (click)="deleteComment(comment, post)">
                                        <i class="icon-close"></i>
                                    </a>
                                </div>
                            </div>
                            <p>{{comment.text}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1">
                            <div class="avatar">
                                <img [mediaProfileThumbnail]="currentUser" class="img-avatar" />
                            </div>
                        </div>
                        <div class="col-sm-9" style="padding-top: 5px;">
                            <input type="text" placeholder="Comment..." value="" (keyup.enter)="commentPost(post.id, $event)" class="form-control" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
